Repository vicdi3003/Coaching-Cristopher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

List prerequisites in readme file
  README.md
Due: none

Create readme and pull request template (#3)
  .github/pull_request_template.md
  README.md
Due: none

Corrections in CSS format
  styles.css
Due: stylelint

Cambios en los espacios del código en CSS
  styles.css
Due: stylelint

Agregando una nueva linea al final
  styles.css
Due: stylelint

Ultima correción en el nombre de Diosito
  styles.css
Due: stylelint

Apply suggestions from code review
  styles.css
Due: stylelint

Learn CSS Colors by Building a Set of Colored Markers
  index.html
  stylesss.css
Due: eslint, stylelint

division de codigo por carpetas
  cat/index.html
  coffee/index.html
  coffee/styles.css
  markers/index.html
  markers/styles.css
Due: eslint, stylelint

division del codigo por carpetas
  markers/stylesss.css
Due: stylelint

Ahora si arregle detalles en el anidado de las carpetas
  Excersise/index.html
  Excersise/pages/cat/index.html
  Excersise/pages/coffee/index.html
  Excersise/pages/coffee/styles.css
  Excersise/pages/markers/index.html
  Excersise/pages/markers/styles.css
Due: eslint, stylelint

Le arregle el formato de los enlaces para hacerlo d euna forma digamos mas profesional
  Excersise/index.html
Due: eslint

arreglo y cambio en formato de la web del conjuto de websites
  Excersise/index.html
  fondo.mp4
  index.html
  pages/cat/index.html
  pages/coffee/index.html
  pages/coffee/styles.css
  pages/markers/index.html
  pages/markers/styles.css
  styless.css
Due: eslint, stylelint

cambio en el formato de las websites
  index.html
Due: eslint

Fix linters
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintrc.json
  .vscode/settings.json
  Coffe.html
  README.md
  cat.html
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  styles.css
  stylesss.css
Due: eslint, stylelint

Add linters and pre-commit hook (#4)
  .editorconfig
  .gitignore
  .husky/pre-commit
  .stylelintrc.json
  .vscode/settings.json
  Coffe.html
  README.md
  cat.html
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  styles.css
  stylesss.css
Due: eslint, stylelint

actualizacion en el formato del archivo
  index.html
  styles.css
Due: eslint, stylelint

actualizacion en el formato de las carpetas
  index.html
Due: eslint

correccion de links
  index.html
Due: eslint

Nueva web de formato de registro
  index.html
  pages/registration-form/index.html
  pages/registration-form/styles.css
Due: eslint, stylelint

space at the end
  pages/registration-form/styles.css
Due: stylelint

Added Space
  pages/registration-form/styles.css
Due: stylelint

Learn HTML formsby buildding a Registration Form (#8)
  index.html
  pages/registration-form/index.html
  pages/registration-form/styles.css
Due: eslint, stylelint

Added spaces
  pages/registration-form/styles.css
Due: stylelint

Update .gitignore
  .gitignore
Due: none

Added page survey-form
  pages/survey-form/fondo.jpeg
  pages/survey-form/icon.ico
  pages/survey-form/index.html
  pages/survey-form/styles.css
Due: eslint, stylelint

I added all the fixes in the document format
  .gitignore
Due: none

Changes in the format
  pages/survey-form/index.html
  pages/survey-form/styles.css
Due: eslint, stylelint

changes in the comment textarea
  pages/survey-form/index.html
Due: eslint

changes in the word her to here
  pages/survey-form/index.html
Due: eslint

Update git ignore
  .gitignore
Due: none

New page with CSS Box Model by Building a Rthko Paiting
  pages/rothko-painting/index.html
  pages/rothko-painting/styles.css
Due: eslint, stylelint

New page with CSS Box Model by Building a Rthko Paiting with change in spaces
  pages/rothko-painting/styles.css
Due: stylelint

Added a new line
  pages/rothko-painting/styles.css
Due: stylelint

Added a new pages inside forms without CSS
  img/cat.jpg
  img/coffee.jpg
  img/markers.jpg
  img/registrationform.jpg
  pages/forms/gon-images/gon.jpg
  pages/forms/gon-images/gon.png
  pages/forms/gon-images/gon.webp
  pages/forms/gon-images/gon2.webp
  pages/forms/gon-images/index.html
  pages/forms/gon/hxh.jpe
  pages/forms/gon/hxh.jpg
  pages/forms/gon/index.html
  pages/forms/homepage/fondo.webp
  pages/forms/homepage/icon.ico
  pages/forms/homepage/index.html
  pages/forms/hxh/gon.jpg
  pages/forms/hxh/hhx.webp
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/newpage/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

NewWebsite PhotoCat with HTML and CSS
  pages/photo-cat/index.html
  pages/photo-cat/styles.css
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,html}
  stylelint: any of: *.{css,scss}
