Repository vicdi3003/Coaching-Cristopher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html}": ["eslint"],
  "*.{css,scss}": "stylelint"
}

Nutrition Facts with html and CSS and many news HTML elements
  pages/nutrition/index.html
  pages/nutrition/styles.css
Due: eslint, stylelint

Ignore it plis
  pages/forms/homepage/index.html
Due: eslint

Added a space in CSS field
  pages/photo-cat/styles.css
Due: stylelint

NewWebsite PhotoCat with HTML and CSS (#14)
  pages/photo-cat/index.html
  pages/photo-cat/styles.css
Due: eslint, stylelint

Added a space in CSS field
  pages/nutrition/styles.css
Due: stylelint

Added the last space
  pages/nutrition/styles.css
Due: stylelint

Nutrition Facts with html and CSS and many news HTML elements (#15)
  pages/nutrition/index.html
  pages/nutrition/styles.css
Due: eslint, stylelint

The practice updated with all the changes of place
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/homepage/index.html
  pages/forms/homepage/page.png
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

I deleted my folder
  img/cat.jpg
  img/coffee.jpg
  img/markers.jpg
  img/registrationform.jpg
Due: none

I deleted my IMG folder
  pages/forms/login/index.html
Due: eslint

I made all the required changes
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/homepage/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

Cange te URL
  pages/forms/registrer/index.html
Due: eslint

I deleted page.png
  pages/forms/homepage/page.png
Due: none

I madre all changes
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/homepage/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/newpage/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

I put a request
  pages/forms/login/index.html
Due: eslint

Added a new space
  pages/forms/gon-images/index.html
Due: eslint

I refresh the page with the last 3 comments
  pages/forms/homepage/index.html
  pages/forms/hxh/index.html
  pages/forms/terms/index.html
Due: eslint

New changes with h1 and forms tags
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

Working progress
  pages/forms/background.png
  pages/forms/homepage/index.html
  pages/forms/styles.css
Due: eslint, stylelint

Working progress
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/newpage/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/styles.css
  pages/forms/terms/index.html
Due: eslint, stylelint

New change with h1 and forms tags
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/terms/index.html
Due: eslint

My progress
  pages/forms/gon/index.html
  pages/forms/registration/index.html
  pages/forms/styles.css
Due: eslint, stylelint

My progress
  pages/forms/hxh/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/styles.css
Due: eslint, stylelint

My progress
  pages/forms/styles.css
Due: stylelint

I'm done with CSS in this field, I need approval to continue with Javascript here.
  pages/forms/styles.css
Due: stylelint

I did the next lesson called learn accessibility and a construction quiz.
  pages/quiz/index.html
  pages/quiz/styles.css
Due: eslint, stylelint

Added an indentation
  pages/quiz/styles.css
Due: stylelint

fiz identation
  pages/quiz/styles.css
Due: stylelint

Revert "Forms"
  pages/forms/background.png
  pages/forms/gon-images/index.html
  pages/forms/gon/index.html
  pages/forms/homepage/index.html
  pages/forms/hxh/index.html
  pages/forms/login/index.html
  pages/forms/newpage/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/styles.css
  pages/forms/terms/index.html
Due: eslint, stylelint

Learn Accessibility by Building a Quiz. (#18)
  pages/quiz/index.html
  pages/quiz/styles.css
Due: eslint, stylelint

Added changes
  pages/forms/hxh/index.html
  pages/forms/registration/index.html
  pages/forms/registrer/index.html
  pages/forms/styles.css
Due: eslint, stylelint

Added the changes of comments
  pages/forms/styles.css
Due: stylelint
